__pycache__
*.pyc
.venv
venv
.env

# reference repos
RIMS_tool/
RIMS/

#project description
context.md


#generated models
models/
*.pnml
src/catboost_info

#datasets and large logs
data/
*.xes
*.xes.gz
*.csv

#visual artifacts
*.png
