__pycache__
*.pyc
.venv
venv
.env

# reference repos (local only)
RIMS_tool/
RIMS/

#project description
context.md


#generated models
models/
*.pnml

#datasets and large logs
data/
*.xes
*.xes.gz
*.csv

#visual artifacts
*.png
